# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

build

coverage.txt

.idea
*.alfredworkflow
workflow/bitwarden-alfred-workflow
workflow/bitwarden-alfred-workflow-amd64
workflow/bitwarden-alfred-workflow-arm64
workflow/icons
workflow/assets
workflow/README.html
workflow/List Filter Images
workflow/bw_cache_update.sh
workflow/bw_auto_lock.sh
